body {
    font-family: 'Lora', serif;
    background-color: #fefae0;
}
header {
    background-color: #d4a373;
    text-align: center;
    color:#faebd7;
    padding: 1px;
    width: 100%;
}
/* styling for search city section */
.search-container{
    background-color: #e9edc9;
    position: relative;
    width: 250px;
    height: 150px;
}
.search-form{
    padding:10px 10px;
    text-align: center;
}
label{
    font-size: 25px;
    font-family: 'Lora', serif;
}
input{
    height: 25px;
    width: 200px;
    margin:10px;
    border-radius: 4px;
    border-color: grey;
}
.btn{
width:200px;
height: 25px;
background-color: #ccd5ae;
border-color: #ccd5ae;
border-radius: 4px;
color:white;
font-size: 15px;
font-weight: bold;
cursor: pointer;
opacity: 0.8;
}
.btn:hover {
    opacity: 1;
}
/*styling for search history section */
.prev-search-container{
background-color: brown;
position: relative;
}
/* styling for current weather section */
.current-weather-container{
    background-color: #fefae0;
    position: relative;
    left: 250px;
    bottom: 150px;
    width: 250px;
    height: 200px;
    text-align: left;
    display:flex;
    flex-direction: column;
    padding:15px 25px;
    border-radius: 5px;
}
.current-weather-container p{
    
    font-size: 15px;
    margin-top: 0;

}

.weather-icon img{
    position: relative;
    height: 45px;

}

#current-date{
    font-size: 15px;
}
#current-city{
    font-size: 30px;
    font-weight:bolder;
}
#current-temp{
    font-size: 20px;
    position: relative;
    left: 55px;
    bottom: 25px;
}


/* styling for future weather section */
.forecast-title{
    position: relative;
    left: 250px;
}
.future-weather-container{
    position: relative;
    left: 250px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}
.future-weather-card{
    background-color: lightskyblue;
    display: flex;
    width: 150px;
    height: 200px;
    margin: auto 15px;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}
.hide {
    display: none;
}
